@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    background: url(bg.jpg);
    background-size: 100%;
    font-family: Poppins, sans-serif;
}

.form{
    border-style: solid;
    border-radius: 10px;
    border-width: 0.1px;
    border-color: transparent;
    height: 25em;
    width: 25em; 
    top: 50%;
    margin-left: 38%;
    margin-top: 10%;
    background-color: white;
    backdrop-filter: blur(2px);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.438)
    
}

form{
    margin-top: 30%;
    margin-left: 26%;
}

.email{
    margin-bottom: 40px;
}

.login{
    position: absolute;
    top: 5%;
    left: 40%;
    font-size: 25px;
    
    color: #CD55DA;
}


.forgot{
    margin-left: 12%;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.forgot:hover{
    color: #a328c9;
}

label, input{
    display: block;
    text-align: left;
}

label{
    margin-right: 25%;
    text-align: center;
}

.btn{
    margin-left: 10%;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a328c9+2,ff6366+100 */
    background: #a328c9; /* Old browsers */
    background: -moz-linear-gradient(left,  #a328c9 2%, #ff6366 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #a328c9 2%,#ff6366 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #a328c9 2%,#ff6366 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a328c9', endColorstr='#ff6366',GradientType=1 ); /* IE6-9 */

    color: white;
    font-size: 15px;
    transition: all 0.5s ease-out;;
    font-family: Poppins, sans-serif;
}

.btn:hover{
    background: #9742b1; /* Old browsers */
    background: -moz-linear-gradient(left,  #9742b1 2%, #ff8d8e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #9742b1 2%,#ff8d8e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #9742b1 2%,#ff8d8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a328c9', endColorstr='#ff6366',GradientType=1 ); /* IE6-9 */
    color: black;
    font-size: 15px;
}

#email, #password{
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(199, 199, 199);
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: Poppins, sans-serif;
}

footer{
    position: absolute;
    bottom: 5px;
    margin-left: 49%;
    color: white;
}